* {
    box-sizing: border-box;
}

body {
    background: #fff9f0;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.75;
    color: #778899;

}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

footer {
    text-align: center;
    clear: both;
    margin-top: 5em;
    padding: 3em 0 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.25;
}

h1 {
    margin: 0;
    color: #00bfff;
    font-size: 2.5rem;
    text-transform: uppercase;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #00bfff;
    font-size: 1.5em;
}

h3 {
    color: slategray;
    margin-top: 0;
    margin-bottom: 3em;
    font-weight: 400;
}

a {
    color: #00bfff;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    padding: 0;
    animation: bounceInDown 900ms;
}

nav {
    margin-bottom: 2rem;
    animation: bounceInDown 900ms;
}

nav a {
    display: inline-block;
    text-transform: uppercase;
    color: slategray;
    padding: 1em 0;
    font-size: 0.9em;
    transition: all 100ms ease;
    margin-right: 2.5em;
}

nav a:hover {
    color: #00bfff;
    box-shadow: inset 0 2px 0 0 #00bfff;
}

header.title {
    opacity: 0;
    animation: title-bounce 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

#play {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 3em;
}

.board {
    margin: 0 -0.5rem;
}

.board:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.card {
    float: left;
    display: inline-block;
    padding: 0 1rem;
    margin: 0.5rem;
    min-width: calc(50% - 1rem);
    min-height: 6rem;
    line-height: 6rem;
    background: deepskyblue;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 500ms ease;
    transform: rotateY(180deg);
    text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
    animation: bounceInDown 700ms ease;
}

.card:nth-child(1) {
    animation-delay: 0ms;
}

.card:nth-child(2) {
    animation-delay: 50ms;
}

.card:nth-child(3) {
    animation-delay: 100ms;
}

.card:nth-child(4) {
    animation-delay: 150ms;
}

.card:nth-child(5) {
    animation-delay: 200ms;
}

.card:nth-child(6) {
    animation-delay: 250ms;
}

.card:nth-child(7) {
    animation-delay: 300ms;
}

.card:nth-child(8) {
    animation-delay: 350ms;
}

@media screen and (min-width: 600px) {
    .nav {
        margin-bottom: 4em;
    }
    .wrapper {
        padding: 0 2rem;
    }
    .card {
        min-width: calc(25% - 1rem);
        min-height: 12rem;
        line-height: 12rem;
        font-size: 5rem;
    }
    hr {
        margin: 4rem 0;
    }
}

.card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    transform: scale(1.01) rotateY(180deg);
}

.card.matched {
    animation: pop 600ms;
    animation-delay: 2000ms;
    animation-fill-mode: forwards;
}

.card:hover.matched {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);
    transform: scale(1.0) rotateY(180deg);
}

.card.matched.second {
    animation-delay: 0ms;
}

.card.selected {
    transform: rotateY(0deg);
}
.card.selected span {
    animation: fade-in 300ms ease;
}

.heart {
    margin: 0 0.2em 0 0.1em;
    display: inline-block;
    font-size: 0.9em;
    color: #ff1493;
    animation: beating 1.2s ease-out infinite;
}

@keyframes beating {
    0% {
        transform: scale(0.8);
    }
    20% {
        transform: scale(1.0);
    }
    40% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.0);
    }
    80% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes pop {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        /*opacity: 0;*/
        transform: scale3d(1, 1, 1);
    }

    20% {
        transform: scale3d(1.01, 1.01, 1.01);
    }

    40% {
        transform: scale3d(.94, .94, .94);
    }

    60% {

        transform: scale3d(1.00, 1.00, 1.00);
    }
    80% {
        transform: scale3d(.96, .96, .96);

    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
    }
}

@keyframes title-bounce {
    from, 60%, 75%, 90%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.bounceInDown {
    animation-name: bounceInDown;
}

.fade-in {
    animation: fade-in 300ms ease;
}

.fade-out {
    animation: fade-out 300ms ease;
}